@import '../../../themes';


@include nb-install-component() {
        background: nb-theme(nb-layout);
        nb-layout {
            nb-layout-header {
                a { font-size: 2rem; text-decoration: none;  }
                .logo-container {
                    display: flex;
                    align-items: center;
                    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
                }
            }
            nb-layout-column {
                height: 50vw;
                :first-child {
                    background: #f4f4f7;
                }
            }
        }
}
