<nb-layout>
  <nb-layout-header fixed>
    <div class="logo-container">
      <a href="#" (click)="toggle()"><fa-icon [icon]="faBars"></fa-icon></a>
      <div class="logo" (click)="goToHome()">project-<span>dash</span></div>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu tag="menu" [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <ng-content></ng-content>
  </nb-layout-column>
</nb-layout>

<!--
<nb-layout>
  <nb-layout-header fixed>
    <button nbButton status="success" size="xsmall" (click)="toggle()">Toggle</button>
    <button nbButton status="info" size="xsmall" (click)="toggleCompact()">Toggle Compact</button>
  </nb-layout-header>

  <nb-sidebar tag="left"></nb-sidebar>
  <nb-sidebar right tag="right"></nb-sidebar>

  <nb-layout-column>Layout Content</nb-layout-column>
</nb-layout>
-->
