@import '../../../themes.scss';

:host {
    background: nb-theme(nb-layout);
    nb-layout {
        nb-layout-header {
            a { font-size: 2rem; text-decoration: none;  }
        }
        nb-layout-column {
            height: 50vw;
            :first-child {
                background: #f4f4f7;
            }
        }
    }
}